<div id="greetsing" style="margin-top: 60px; margin-bottom: 40px; text-align: center;">
<p style="font-size: 20px; font-family: Georgia, 'Lucidia Grande', serif; color: #666;">
<em>Hello,</em>
we are a virtual gallery aiming to help you find and collect art that you really love.
</p>
</div>