<h1 style="font-family: georgia;font-size: 18px;padding-bottom: 22px;text-shadow: 1px 1px #FFFFFF;">Editing artwork</h1>

<%= render 'form' %>

<%= link_to 'Show', @artwork %> |
<%= link_to 'Back', artworks_path %>
