<%= render :partial => 'slideshow' %>



<%= render :partial => 'greeting' %>

<%= render :partial => 'thumbnails' %>

<br />
<div class="button_holder">
	<%= link_to 'New Artwork', new_artwork_path, :class => "button grey" %>
</div>


<div id="footer">
	<img style ="margin-top: 25px" src="/images/logo_grey.png">
	<div class="links">
		<div class="box">
		<h2>Get in touch</h2>
			<ul>
				<li><a href="#">About</a></li>			
				<li><a href="#">Contact</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
		<div class="box">
		<h2>Social Media</h2>
			<ul>
				<li><a href="#">Facebook</a></li>			
				<li><a href="#">Twitter</a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
	</div>
</div>

