<%= render :partial => 'slideshow' %>


<br /><br />
<%#= render :partial => 'greeting' %>

<%= render :partial => 'thumbnails' %>

<br />

<%= link_to 'New Artwork', new_artwork_path %>


<div id="footer">
	<h1>#footer</h1>
</div>

