<% content_for :head do %>
	<style type="text/css" media="screen">
		#wrapper {
			background: url("/images/room_bg.png") no-repeat 50% 99px transparent;
		}
	</style>
<% end %>
 

<%= render :partial => 'slideshow' %>

<%= render :partial => 'greeting' %>

<%= render :partial => 'thumbnails' %>

<br />
<div class="button_holder">
	<%= link_to 'New Artwork', new_artwork_path, :class => "button grey" %>
</div>




