/* My styles start here */
/* line 2, ../../app/stylesheets/application.scss */
body {
  background: url("/images/body-bg.png") repeat-y center center #c8c8c8;
}

/* line 6, ../../app/stylesheets/application.scss */
a {
  color: #ff0899;
  text-decoration: none;
}
/* line 9, ../../app/stylesheets/application.scss */
a:hover {
  text-decoration: underline;
}

/* line 13, ../../app/stylesheets/application.scss */
h1 {
  padding-bottom: 10px;
  font-size: 22px;
}

/* line 17, ../../app/stylesheets/application.scss */
#container {
  margin: 0 auto;
  border: none;
  padding: 0px;
  width: 65%;
  background: none;
  width: 960px;
}

/* line 25, ../../app/stylesheets/application.scss */
#top-bar {
  border-bottom: 1px solid #e9e9e9;
  margin: 0 auto;
  width: 100%;
  background: none repeat scroll 0 0 #E8E8E8;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
}
/* line 34, ../../app/stylesheets/application.scss */
#top-bar #status {
  width: 960px;
  margin: 0 auto;
  text-align: right;
  min-width: 950px;
}
/* line 40, ../../app/stylesheets/application.scss */
#top-bar a {
  color: #ff0899;
}
/* line 42, ../../app/stylesheets/application.scss */
#top-bar a.logout {
  color: #a8a7a7;
}
/* line 45, ../../app/stylesheets/application.scss */
#top-bar a:hover {
  text-decoration: underline;
}

/* line 50, ../../app/stylesheets/application.scss */
#shadow {
  box-shadow: 0 -6px 5px #dddddd;
  clear: both;
  position: relative;
  z-index: 999;
  width: 100%;
  height: 20px;
  display: block;
}

/* line 60, ../../app/stylesheets/application.scss */
#logo {
  width: 280px;
  height: 85px;
  margin-top: 20px;
  float: left;
  background: url("/images/logo.png") 0 0 no-repeat transparent;
}
/* line 66, ../../app/stylesheets/application.scss */
#logo h1 {
  text-indent: -9999px;
  height: 80px;
}

/* line 72, ../../app/stylesheets/application.scss */
#container nav {
  margin-top: 60px;
  width: 325px;
  float: right;
  clear: right;
  display: inline;
}
/* line 78, ../../app/stylesheets/application.scss */
#container nav ul {
  list-style: none;
  display: inline;
}
/* line 81, ../../app/stylesheets/application.scss */
#container nav ul li {
  display: inline;
  margin-left: 15px;
}
/* line 84, ../../app/stylesheets/application.scss */
#container nav ul li a {
  padding: 4px 7px 7px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
/* line 89, ../../app/stylesheets/application.scss */
#container nav ul li a.active {
  color: #fff;
  background: #000;
  border-radius: 6px;
}

/* line 99, ../../app/stylesheets/application.scss */
#content {
  padding-top: 20px;
  clear: both;
  border-top: 1px solid #969696;
  min-height: 720px;
}

/* line 106, ../../app/stylesheets/application.scss */
#footer {
  height: 100px;
  background: #000;
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 60px 0 0;
  float: left;
}
/* line 116, ../../app/stylesheets/application.scss */
#footer h1 {
  color: #fff;
}

/* line 120, ../../app/stylesheets/application.scss */
.animation_box {
  margin: 83px auto 0;
  position: relative;
  width: 645px;
  left: -9px;
}
/* line 125, ../../app/stylesheets/application.scss */
.animation_box .leftControl {
  float: left;
  left: -40px;
  position: relative;
  top: 218px;
}
/* line 131, ../../app/stylesheets/application.scss */
.animation_box .rightControl {
  float: right;
  left: 50px;
  position: relative;
  top: -245px;
}

/* line 138, ../../app/stylesheets/application.scss */
.slide_box {
  background: url("/images/frame.png") no-repeat scroll 0 0 transparent;
  height: 465px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 640px;
  left: -20px;
}

/* line 148, ../../app/stylesheets/application.scss */
.slideInner {
  height: 400px;
  left: 45px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 37px;
  width: 3000px;
}
/* line 156, ../../app/stylesheets/application.scss */
.slideInner img {
  height: 390px;
  width: 554px;
}

/* line 161, ../../app/stylesheets/application.scss */
.slide {
  float: left;
  height: 240px;
  position: relative;
  width: 554px;
}

/* line 167, ../../app/stylesheets/application.scss */
.description {
  background: none repeat scroll 0 0 #000000;
  height: 51px;
  left: -10px;
  margin: 0 auto;
  position: relative;
  top: 19px;
  width: 678px;
  color: #fff;
}
/* line 176, ../../app/stylesheets/application.scss */
.description .name {
  padding-left: 10px;
  float: left;
  font-size: 13px;
}
/* line 180, ../../app/stylesheets/application.scss */
.description .name h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}
/* line 186, ../../app/stylesheets/application.scss */
.description .name span {
  position: relative;
  top: 2px;
}
/* line 190, ../../app/stylesheets/application.scss */
.description .name a {
  color: #ff0899;
}
/* line 194, ../../app/stylesheets/application.scss */
.description .price {
  float: right;
  position: relative;
  top: 11px;
  right: -32px;
  height: 100%;
}
/* line 201, ../../app/stylesheets/application.scss */
.description .price a {
  margin-left: 5px;
  color: #fff;
  font-size: 24px;
}
/* line 205, ../../app/stylesheets/application.scss */
.description .price a b {
  color: #ff0899;
  font-weight: normal;
}

/* line 212, ../../app/stylesheets/application.scss */
#greeting p {
  color: #000;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 33px;
}
/* line 223, ../../app/stylesheets/application.scss */
#greeting p em {
  color: #ff0899;
}
/* line 226, ../../app/stylesheets/application.scss */
#greeting p .heart {
  font-family: arial;
  color: #ff0899;
}

/* line 231, ../../app/stylesheets/application.scss */
#images {
  height: 200px;
  margin: 0 auto 60px;
  width: 100%;
}
/* line 235, ../../app/stylesheets/application.scss */
#images .thumbnails li {
  margin-bottom: 30px;
}
/* line 238, ../../app/stylesheets/application.scss */
#images li {
  display: inline;
  margin-right: 26px;
  float: left;
}
/* line 243, ../../app/stylesheets/application.scss */
#images li img {
  width: 235px;
  height: 130px;
  display: block;
  float: left;
  padding: 15px;
  border: 1px solid #ccc;
  background: #fff;
}
/* line 254, ../../app/stylesheets/application.scss */
#images .filter li {
  margin-right: 5px;
}

/* line 259, ../../app/stylesheets/application.scss */
#images ul {
  margin-top: 20px;
  float: left;
}
/* line 262, ../../app/stylesheets/application.scss */
#images ul .title {
  float: left;
  background: none repeat scroll 0 0 #000000;
  clear: both;
  color: #FFFFFF;
  font-family: georgia;
  font-size: 13px;
  margin-top: 8px;
  padding: 7px;
  position: relative;
  width: 252px;
  border-left: 1px solid #F8F8F8;
}

/* line 276, ../../app/stylesheets/application.scss */
#images .filter {
  display: inline;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
  font-family: helvetica;
}
/* line 282, ../../app/stylesheets/application.scss */
#images .filter .active {
  color: #000;
}

/* line 286, ../../app/stylesheets/application.scss */
#images .search {
  float: right;
  clear: both;
  margin-top: -20px;
}

/* Form styles */
/* line 294, ../../app/stylesheets/application.scss */
.field {
  margin-bottom: 14px;
}
/* line 296, ../../app/stylesheets/application.scss */
.field input {
  margin-top: 3px;
}
/* line 299, ../../app/stylesheets/application.scss */
.field label {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 11px;
  padding: 1px 6px 6px;
}

/* line 306, ../../app/stylesheets/application.scss */
#new_artwork {
  margin-bottom: 15px;
}

/* line 309, ../../app/stylesheets/application.scss */
#artwork_submit {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #CCCCCC;
  margin-top: 10px;
  padding: 3px 6px;
}

/* line 315, ../../app/stylesheets/application.scss */
.thumb {
  width: 50px;
}
