/* My styles start here */

body {
	background: #f8f8f8;	
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
h1 {
	padding-bottom: 10px;
	font-size: 22px;
}
#container {
	margin: 0 auto;
	border: none;
	padding: 0px;
	width: 65%;
	background: none;
}
#top-bar {
	margin: 0 auto;
	width: 100%;
	background: #000;
	color: #fff;
	padding-top: 10px;	
	padding-bottom: 10px;	
	font-size: 11px;
	#status { 
		width: 65%;
		margin:0 auto;
		text-align: right;
	}
	a {		
		color: #ff0899;
		&.logout {
			color: #a8a7a7;
		}
	&:hover {
		text-decoration: underline;
	}	
	}
}

#logo {
	width: 290px;
	height: 85px;
	margin-top: 20px;
	float: left;
	background: url("/images/logo.png") 0 0 no-repeat transparent;
	h1 {
		text-indent: -9999px;
	}
}

#container nav {
	margin-top: 60px;
	width: 370px;
	float: right;
	clear: right;
	display: inline;
	ul {
		list-style: none;
		display: inline;
		li {
			display: inline;
			margin-left: 15px;
			a {
				padding: 6px;
				font-size: 18px;
				font-weight: 400;
				color: #000;
				&.active {
					color: #fff;
					background: #000;
					border-radius: 6px;
				}
			}
			
		}
	}
}
#content {
	padding-top: 20px;
	clear: both;
	border-top: 1px solid #969696;
	min-height: 720px;
	background: url("/images/bg.png") transparent 50% 0 no-repeat;
}
#images {
	height: 400px;
	margin-bottom: 20px;
	li {
		display: inline;
		img {
			height: 200px;
			width: 400px;
			display: block;
			float: left;
			padding: 5px;
		}
	}
}

#footer {
	height: 100px;	
	background: #000;
	position: relative;
	width: 100%;
	bottom: 0;
	padding: 0;
	margin: 60px 0 0;
	float: left;
	
	h1 {
		color: #fff;
	}
}