/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* @import "compass/reset"; */
/* My styles start here */
html {
	background: url("/images/body-bg.png") repeat-y center center #D2D1D1;
}
body {
	background: url("/images/top-bg.png") repeat-x 0 -39px;
}
 p {
	text-shadow: 1px 1px #fff;
}
#header {
	background: transparent url("/images/header_bg.jpg") repeat-x 0 0;
	height: 158px;
	box-shadow: 0 1px 7px #999999;
	
}
a {
	color: #F85063;
	text-decoration: none;
	&:hover {
		color: #d93247;
	//	text-decoration: underline;
	}
}

h1 {
	padding-bottom: 10px;
	font-size: 22px;
}

#container {
	margin: 0 auto;
	border: none;
	padding: 0px;
	width: 65%;
	background: none;
	width: 960px;
}

#top-bar {
	//border-bottom: 1px solid #e9e9e9;
	margin: 0 auto;
	width: 100%;
	//background: none repeat scroll 0 0 #E8E8E8;
	padding-top: 10px;	
	font-size: 11px;
	color: #892323;
	font-family: verdana;
	#status { 
		text-align: right;
		margin-right: 20px;
	}
	a {		
		color: #eee;
		&.logout {
			color: #eee;
		}
		&:hover {
			text-decoration: underline;
		}	
	}
}

#shadow {
	box-shadow: 0 -6px 5px #DDDDDD;
	clear:both;
	position: relative;
	z-index: 999;
	width: 100%;
	height: 20px;
	display: block;
}

#logo {
    background: url("/images/logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 85px;
    margin-left: 27px;
    margin-top: 32px;
    width: 280px;
	h1 {
		text-indent: -9999px;
		height: 80px;
	}
}

#container nav {
 	clear: right;
    display: inline;
    float: right;
    margin-right: 30px;
    margin-top: 68px;
    width: 430px;
	text-shadow: 1px 1px #f0727d;
	font-family: georgia, serif;
	font-size: 16px;
	ul {
		list-style: none;
		display: inline;
		li {
			display: inline;
			margin-left: 15px;
			a {
				padding: 4px 7px 7px;
				font-weight: 400;
				font-size: 17px;
				color: #701b1b;
				&.active {
					color: #fff;
					text-shadow: 0px -1px #810f0f !important;
				}
				&:hover {
					color: #fd8787;		
					text-shadow: 0px -1px #810f0f 
				}
			}
			
		}
	}
}
#content {
	padding-top: 50px;
	clear: both;
	border-top: 1px solid #969696;
	min-height: 720px;
	//background: url("/images/bg.png") transparent 50% 0 no-repeat;
}
#footer {
	height: 200px;	// ok
	border-top: 1px solid #999;
	width: 100%;
	padding: 0;
	margin: 60px 0 0;
	float: left;
	font-size: 12px;
	.box {
		width: 95px;
		float: left;
		margin-left: 50px;
		text-align: left;
	}
	h2 {
		font-weight: bold;
		margin-bottom: 12px;
		color: #777777;
	}
	h1 {
		color: #fff;
	}
	.links {
		margin-top: 30px;
		float: right;
		text-align: right;
		li {
			padding: 3px;
			
		}
		a {
			color: #777;
			&:hover {
				color: #000;	
			}
		}
	}
}
.animation_box {
	margin: 33px auto 0;
	position: relative;
	width: 100%;
	background-color: #eee;
	display: block;
	box-shadow: 0 1px 7px #999999;
	img {
		max-width: 960px;
	}
}
.slide_image {
	max-width: 100%;
	margin-bottom: -1px;
	
}
.slide_box {
   background: url("/images/frame.png") no-repeat scroll 0 0 transparent;
    height: 465px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 640px;
    left: -20px;
}

.slideInner {
   height: 400px;
    left: 45px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 37px;
    width: 3000px;
	img {
		height: 390px;
		width: 554px;
	}
}
.slide {
	float: left;
	height: 240px;
	position: relative;
	width: 554px;
}
.description {
  height: 51px;
  font-family: Georgia, Serif;
  text-transform: uppercase;
  text-shadow: 1px 1px #eee;
  margin: 0 auto;
  position: relative;
  color: #fff;
  .name {  
	padding-top: 17px;
  	float: left;
   	font-size: 18px;
    h2 {
    	color: #515151;
    	font-weight: 400;
    	padding-top: 0px;
		display: inline;
    }
    a {
		padding-left: 5px;
    	color: #f85063;
    }   
  }
  .price {
  	float: right;
  	position: relative;
  	top: 11px;
  	right: -32px;
  	height: 100%;
  	
  	a {
  		margin-left: 5px;
  		color: #fff;
  		font-size: 24px;
  		b {
  			color: #ff0899;
  			font-weight: normal;
  		}
  	}
  }
}
.slidenav {
	display: block;
	float: right;
	height: 50px;
	margin-right: -5px;
	padding-top: 5px;
}
.slidenav div {
	display: inline;
	height: 16px;
	width: 16px;
	background: #a4a4a4;
	float: left;
	margin: 10px;
}
.slidenav .active {
	display: inline;
	background: #f85063;
}

#greeting p {
	color: #000;
	font-size: 28px;	
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid #969696;
	border-bottom: 1px solid #969696;
	font-family: Helvetica;
	font-weight: bold;
	margin-bottom: 40px;
	line-height: 33px;
	em {
		color: #ff0899;
	}
	.heart {
		font-family: arial;
		color: #ff0899;
	}
}
#images {
  height: 200px;
  margin: 0 auto 60px;
  width: 100%;
	.thumbnails li {
		margin-bottom: 30px;
	}
	li {
		display: inline;
		margin-right: 26px;
		float: left;
				
		img {
			width: 235px;
			height: 130px;			
			display: block;
			float: left;
			padding: 15px;
			border: 1px solid #ccc;
			background: #fff;
			
		}
	}
	.filter li {
		margin-right: 5px;
	}
}

#images ul {
	margin-top: 20px;
	float: left;
	.title {
		float: left;
		background: none repeat scroll 0 0 #000000;
	    clear: both;
	    color: #FFFFFF;
	    font-family: georgia;
	    font-size: 13px;
	    margin-top: 8px;
	    padding: 7px;
	    position: relative;
	    width: 252px;
		border-left: 1px solid #F8F8F8;
	}
}
#images .filter {
	display: inline;
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 20px;
	font-family: helvetica;
	.active {
		color: #000;
	}
}
#images .search {
	float: right;
	clear: both;
	margin-top: -20px;
}

/* Form styles */

.field {
	margin-bottom: 14px;
	input {
		margin-top: 3px;
	}
	label {
		background-color: #000000;
    color: #FFFFFF;
    font-size: 11px;
    padding: 1px 6px 6px;
	}
}
#new_artwork {
	margin-bottom: 15px;
}
#artwork_submit {
	  background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    padding: 3px 6px;
}
.thumb {
	width: 50px;
}
#test {
	background: #fff;
}
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.grey {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.grey:hover {
	color: #fff;
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.grey:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
.button_holder {
	text-align: center;
}
input {
	 margin-bottom: 10px;
    margin-top: 4px;
}

#wrapper {
	background: url("/images/room_bg.png") no-repeat 50% 99px transparent;
}